MIDTERM PROJECT           
Lakshay Girdher(A00297517)

U.S SUPERSTORE DATASET ANALYSIS

In [ ]:
# Loading  the dataset
import pandas as pd

# Reading the csv file
df = "/content/Sample - Superstore.csv"

# I've used encoding='ISO-8859-1' beacuse this file has special characters and python cannot read with default settings
store_df = pd.read_csv(df, encoding='ISO-8859-1')


# Displayed some rows

store_df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

Understanding Dataset Structure

In [ ]:
# dataset shape

print(store_df.shape)

# dataset columns
store_df.columns

(9994, 21)

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

Cleaning the data

In [ ]:
#checking any missing values

print(store_df.isnull().sum())

# droppig missing values (if any)
store_df = store_df.dropna()
# checking the data types
store_df.dtypes

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

Check Duplicates

In [ ]:
# checking the duplicates
print(store_df.duplicated().sum())

# Removing the duplicates

store_df = store_df.drop_duplicates

0

Insights & Analysis

In [ ]:
# Total Sales by Region

Total_sales = store_df.groupby('Region')['Sales'].sum().sort_values(ascending = False)
Total_sales

# The result shows us that the west region has the maximum sales whereas south has the least

Region
West       725457.8245
East       678781.2400
Central    501239.8908
South      391721.9050
Name: Sales, dtype: float64

In [ ]:
# Calculating profits according to sub-categories

profitable_subcategory = store_df.groupby('Sub-Category')['Profit'].sum().sort_values(ascending= False)
profitable_subcategory

# It clearly shows that copiers has maximum profit whereas table category is in loss

Sub-Category
Copiers        55617.8249
Phones         44515.7306
Accessories    41936.6357
Paper          34053.5693
Binders        30221.7633
Chairs         26590.1663
Storage        21278.8264
Appliances     18138.0054
Furnishings    13059.1436
Envelopes       6964.1767
Art             6527.7870
Labels          5546.2540
Machines        3384.7569
Fasteners        949.5182
Supplies       -1189.0995
Bookcases      -3472.5560
Tables        -17725.4811
Name: Profit, dtype: float64

In [ ]:
# Yearly Sales Trends

# Converting order date to datetime series
store_df['Order Date'] = pd.to_datetime(store_df['Order Date'])
#Extract Release year
store_df['Year'] = store_df['Order Date'].dt.year

# Calculating yearly sales trend

yearly_sales = store_df.groupby('Year')['Sales'].sum().sort_values(ascending = False)
yearly_sales

# The result shows that sales is increasing every year.

Year
2017    733215.2552
2016    609205.5980
2014    484247.4981
2015    470532.5090
Name: Sales, dtype: float64

Filtering

In [ ]:
# Filtering all values that has sales > $1000

value_order = store_df.loc[store_df['Sales'] > 1000]
value_order


 # Top selling products
print(store_df['Product Name'].value_counts().head(10))

Product Name
Staple envelope                               48
Staples                                       46
Easy-staple paper                             46
Avery Non-Stick Binders                       20
Staples in misc. colors                       19
KI Adjustable-Height Table                    18
Staple remover                                18
Storex Dura Pro Binders                       17
Staple-based wall hangings                    16
Situations Contoured Folding Chairs, 4/Set    15
Name: count, dtype: int64